@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* semibold */
  font-size: 40px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* semibold */
  font-size: 30px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* semibold */
  font-size: 20px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* semibold */
  font-size: 17px;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600; /* semibold */
  font-size: 12px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* regular */
  font-size: 25px;
}


.seccao-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 100px;
}

.texto-container {
  width: 100%; /* Ocupará toda a largura na linha */
  max-width: 50%; /* Máximo de 50% da tela */
  box-sizing: border-box; /* Inclui o padding no cálculo do tamanho total */
  padding-right: 50px; /* Espaçamento entre os contêineres */
}

.texto-container h2 {
  color: #515151;
  font-size: 28px;
  margin-bottom: 10px;
}

.texto-container p {
  color: #515151;
  font-size: 16px;
  line-height: 1.5;
}

.imagem-container {
  width: 100%;
  max-width: 50%;
  box-sizing: border-box; 
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}


/* Estilos para componente Equipe */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100vh; /* Ajuste conforme necessário */
  padding: 0 50px; 
  justify-content:space-evenly
}

.card {
  width: 250px;
  height: 400px;
  border-radius: 40px;
  box-shadow: 0px 4px 15px #515151;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 40px;
  object-fit: cover;
}

.info-container {
  margin-top: 10px;
  margin-left: 20px;
}

h3, h4, h5 {
  color: #515151;
  margin: 0;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons img {
  width: 25px; /* Ajuste conforme necessário */
  margin-right: 10px;
}

/* Fim */



@media screen and (max-width: 768px) {

  h1 {
   font-size: 30px;
  } 

  .texto-container,
  .imagem-container {
    width: 100%;
    max-width: 100%;
    padding-right: 0; 
  }

  .imagem-container img {
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    display: block;
  }

  .seccao-container {
    padding: 100px 60px;
  }
}